*.d
*.o
.deps
Makefile
Makefile.in
aclocal.m4
autom4te*
config.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
gifdiff
gifsicle
gifsicle-*.rpm
gifsicle-*.tar.gz
gifview
include
install-sh
missing
src/gifview
stamp-h*
ungifsicle-*.rpm
ungifsicle-*.tar.gz
compile
.gitignore
README.md
package-lock.json
package.json
public/
.idea/
a.out
a.out.js
a.out.wasm
clp.html
clp.js
clp.wasm
gifsicle-react/src/An_example_animation_made_with_Pivot.gif
gifsicle.html
gifsicle.js
gifsicle.wasm
stackoverflow/
config/
scripts/
